.advantages {
    &-box {
        border-left: 4px solid $separator;
        padding: 0 0 0 30px;
        margin: 24px 0;
        &__item {
            padding-bottom: 40px;
        }
        &__item:nth-child(3) {
            padding-bottom: 0;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        background: linear-gradient(90.13deg, $red 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        padding-left: 3px;
    }
    &__information {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        padding-top: 11px;
    }


}
